![rmotr](https://user-images.githubusercontent.com/7065401/39119486-4718e386-46ec-11e8-9fc3-5250a49ef570.png)
<hr style="margin-bottom: 40px;">

<img src="https://user-images.githubusercontent.com/7065401/39120280-4a20fdc8-46ee-11e8-81a3-fd4640621cb8.jpg"
    style="width:300px; float: right; margin: 0 40px 40px 40px;"></img>

# External Data Sources

The package [Pandas DataReader](https://pydata.github.io/pandas-datareader/stable/) lets us pull financial data directly from the web. There's not a lot to add about it. Just read [the docs](https://pydata.github.io/pandas-datareader/stable/) if you want to know more about it.

![separator2](https://user-images.githubusercontent.com/7065401/39119518-59fa51ce-46ec-11e8-8503-5f8136558f2b.png)

## Hands on!

In [1]:
import pandas as pd
import numpy as np

In [3]:
import pandas_datareader.data as web

In [5]:
start = pd.Timestamp('2017-01-01')
end = pd.Timestamp('2017-02-01')

**S&P 500**

In [6]:
web.DataReader('^SPX', 'stooq', start, end)

               Open     High      Low    Close        Volume
Date
2018-04-18  2710.11  2717.49  2703.63  2708.64  4.932002e+08
2018-04-17  2692.74  2713.34  2692.05  2706.39  4.961728e+08
2018-04-16  2670.10  2686.49  2665.16  2677.84  5.101475e+08
2018-04-13  2676.90  2680.26  2645.05  2656.30  4.893403e+08
2018-04-12  2653.83  2674.72  2653.83  2663.99  5.147257e+08
2018-04-11  2643.89  2661.43  2639.25  2642.19  4.726213e+08
2018-04-10  2638.41  2665.45  2635.78  2656.87  5.960542e+08
2018-04-09  2617.18  2653.55  2610.79  2613.16  5.645807e+08
2018-04-06  2645.82  2656.88  2586.27  2604.47  6.369535e+08
2018-04-05  2657.36  2672.08  2649.58  2662.84  5.304348e+08
2018-04-04  2584.04  2649.86  2573.61  2644.69  6.241035e+08
2018-04-03  2592.17  2619.14  2575.49  2614.45  6.310170e+08
2018-04-02  2633.45  2638.30  2553.80  2581.88  7.136920e+08
2018-03-29  2614.41  2659.07  2609.72  2640.87  7.460317e+08
2018-03-28  2611.30  2632.65  2593.06  2605.00  6.831463e+08
2018-03-27  2667.57  2674.78  2596.12  2612.62  6.864505e+08
2018-03-26  2619.35  2661.36  2601.81  2658.55  6.747962e+08
2018-03-23  2646.71  2657.67  2585.89  2588.26  7.103860e+08
2018-03-22  2691.36  2695.68  2641.59  2643.69  6.841885e+08
2018-03-21  2714.99  2739.14  2709.79  2711.93  5.397216e+08
2018-03-20  2715.05  2724.22  2710.05  2716.94  5.697714e+08
2018-03-19  2741.38  2741.38  2694.59  2712.92  6.343271e+08
2018-03-16  2750.57  2761.85  2749.97  2752.01  1.678756e+09
2018-03-15  2754.27  2763.03  2741.47  2747.33  5.177666e+08
2018-03-14  2774.06  2777.11  2744.38  2749.48  5.879122e+08
2018-03-13  2792.31  2801.90  2758.68  2765.31  6.047607e+08
2018-03-12  2790.54  2796.98  2779.26  2783.02  5.861772e+08
2018-03-09  2752.91  2786.57  2751.54  2786.57  5.806047e+08
2018-03-08  2732.75  2740.45  2722.65  2738.97  5.250225e+08
2018-03-07  2710.18  2730.60  2701.74  2726.80  5.696061e+08
...             ...      ...      ...      ...           ...
1791-10-01     0.62     0.62     0.62     0.62           NaN
1791-09-01     0.61     0.62     0.61     0.62           NaN
1791-08-01     0.60     0.61     0.60     0.61           NaN
1791-07-01     0.60     0.60     0.60     0.60           NaN
1791-06-01     0.60     0.60     0.60     0.60           NaN
1791-05-01     0.60     0.60     0.60     0.60           NaN
1791-04-01     0.60     0.60     0.60     0.60           NaN
1791-03-01     0.59     0.59     0.59     0.59           NaN
1791-02-01     0.58     0.59     0.58     0.59           NaN
1791-01-01     0.57     0.58     0.57     0.58           NaN
1790-12-01     0.57     0.57     0.57     0.57           NaN
1790-11-01     0.56     0.57     0.55     0.55           NaN
1790-10-01     0.55     0.57     0.55     0.56           NaN
1790-09-01     0.54     0.55     0.54     0.55           NaN
1790-08-01     0.53     0.54     0.53     0.54           NaN
1790-07-01     0.53     0.53     0.53     0.53           NaN
1790-06-01     0.52     0.53     0.52     0.53           NaN
1790-05-01     0.51     0.52     0.51     0.52           NaN
1790-04-01     0.50     0.50     0.49     0.50           NaN
1790-03-01     0.49     0.51     0.49     0.50           NaN
1790-02-01     0.49     0.49     0.49     0.49           NaN
1790-01-01     0.50     0.50     0.49     0.49           NaN
1789-12-01     0.50     0.50     0.50     0.50           NaN
1789-11-01     0.51     0.51     0.50     0.50           NaN
1789-10-01     0.51     0.51     0.51     0.51           NaN
1789-09-01     0.51     0.51     0.50     0.51           NaN
1789-08-01     0.50     0.51     0.50     0.51           NaN
1789-07-01     0.50     0.50     0.50     0.50           NaN
1789-06-01     0.51     0.51     0.51     0.51           NaN
1789-05-01     0.51     0.51     0.51     0.51           NaN

[37668 rows x 5 columns]

**Stocks**

In [8]:
web.DataReader(('MSFT', 'AAPL', 'GOOG', 'AMZN', 'FB'), 'morningstar', start, end)

                    Close      High       Low     Open    Volume
Symbol Date
MSFT   2017-01-02   62.14   62.1400   62.1400   62.140         0
       2017-01-03   62.58   62.8400   62.1250   62.790  20694101
       2017-01-04   62.30   62.7500   62.1200   62.480  21339969
       2017-01-05   62.30   62.6600   62.0300   62.190  24875968
       2017-01-06   62.84   63.1500   62.0400   62.300  19922919
       2017-01-09   62.64   63.0800   62.5400   62.760  20382730
       2017-01-10   62.62   63.0700   62.2800   62.730  18593004
       2017-01-11   63.19   63.2300   62.4300   62.610  21517335
       2017-01-12   62.61   63.4000   61.9500   63.060  20968223
       2017-01-13   62.70   62.8650   62.3500   62.620  19422310
       2017-01-16   62.70   62.7000   62.7000   62.700         0
       2017-01-17   62.53   62.7000   62.0300   62.680  20663983
       2017-01-18   62.50   62.7000   62.1200   62.670  19670102
       2017-01-19   62.30   62.9800   62.1950   62.240  18451655
       2017-01-20   62.74   62.8200   62.3700   62.670  30213462
       2017-01-23   62.96   63.1159   62.5700   62.700  23097581
       2017-01-24   63.52   63.7350   62.9400   63.200  24672940
       2017-01-25   63.68   64.1000   63.4500   63.950  24654933
       2017-01-26   64.27   64.5350   63.5500   64.120  43554645
       2017-01-27   65.78   65.9100   64.8900   65.390  44817972
       2017-01-30   65.13   65.7900   64.8000   65.690  31651445
       2017-01-31   64.65   65.1500   64.2600   64.860  25270549
       2017-02-01   63.58   64.6200   63.4700   64.355  39671528
AAPL   2017-01-02  115.82  115.8200  115.8200  115.820         0
       2017-01-03  116.15  116.3300  114.7600  115.800  28781865
       2017-01-04  116.02  116.5100  115.7500  115.850  21118116
       2017-01-05  116.61  116.8642  115.8100  115.920  22193587
       2017-01-06  117.91  118.1600  116.4700  116.780  31751900
       2017-01-09  118.99  119.4300  117.9400  117.950  33561948
       2017-01-10  119.11  119.3800  118.3000  118.770  24462051
...                   ...       ...       ...      ...       ...
AMZN   2017-01-24  822.44  823.9900  814.5000  822.000   2971740
       2017-01-25  836.52  837.4183  825.2880  825.790   4023078
       2017-01-26  839.15  843.8400  833.0000  835.530   3586323
       2017-01-27  835.77  839.7000  829.4400  839.000   2998700
       2017-01-30  830.38  833.5000  816.3800  833.000   3747336
       2017-01-31  823.48  826.9900  819.5600  823.750   3137196
       2017-02-01  832.35  833.7800  824.9400  829.210   3850181
FB     2017-01-02  115.05  115.0500  115.0500  115.050         0
       2017-01-03  116.86  117.8400  115.5100  116.030  20663912
       2017-01-04  118.69  119.6600  117.2900  117.550  19630932
       2017-01-05  120.67  120.9500  118.3209  118.860  19492150
       2017-01-06  123.41  123.8800  120.0300  120.980  28545263
       2017-01-09  124.90  125.4300  123.0400  123.550  22880360
       2017-01-10  124.35  125.5000  124.2800  124.820  17324590
       2017-01-11  126.09  126.1200  124.0600  124.350  18356523
       2017-01-12  126.62  126.7300  124.8000  125.610  18653914
       2017-01-13  128.34  129.2700  127.3700  127.490  24884325
       2017-01-16  128.34  128.3400  128.3400  128.340         0
       2017-01-17  127.87  128.3400  127.4000  128.040  15294460
       2017-01-18  127.92  128.4300  126.8400  128.410  13145852
       2017-01-19  127.55  128.3500  127.4500  128.230  12195465
       2017-01-20  127.04  128.4800  126.7800  128.100  19097223
       2017-01-23  128.93  129.2500  126.9500  127.310  16593563
       2017-01-24  129.37  129.9000  128.3800  129.380  15162724
       2017-01-25  131.48  131.7400  129.7700  130.000  18777314
       2017-01-26  132.78  133.1400  131.4401  131.630  20020141
       2017-01-27  132.18  132.9500  131.0800  132.680  19539514
       2017-01-30  130.98  131.5800  129.6000  131.580  18956095
       2017-01-31  130.32  130.6600  129.5157  130.170  19790484
       2017-02-01  133.23  133.4900  130.6800  132.250  50139775

[115 rows x 5 columns]

![separator2](https://user-images.githubusercontent.com/7065401/39119518-59fa51ce-46ec-11e8-8503-5f8136558f2b.png)